*{
    padding: 0;
    margin: 0;
}

.container{
    height: 100vh;
    width: 100vw;
    background: #E4B1F0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 50px;
    padding: 40px;
    border-radius: 20px;
    background: linear-gradient(90deg, #7E60BF, #a88be8,#7E60BF );
    box-shadow: 15px 15px 15px hsla(0, 0%, 0%, 0.222);
}

.summarize-article{
    height: 350px;
    width: 500px;
    border: 1px solid black;
    overflow-x: hidden;
}

.heading{
    margin-bottom: 30px;
    color: #433878;
}
.summary{
    height: auto;
    font-size: 15px;
    text-align: justify;
    padding: 10px;
    background: linear-gradient(90deg, #E4B1F0, #FFE1FF,#E4B1F0 );    
}

#url{
    height: 25px;
    width: 250px;
    border: none;
    outline: none;
    border-radius: 100px;
    padding: 0 10px 0 10px;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
      7px 7px 20px 0px rgba(0,0,0,.1),
      4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
   }
   
   .btn-1 {
    background: rgb(96,9,240);
    background: linear-gradient(0deg, rgba(96,9,240,1) 0%, rgba(129,5,240,1) 100%);
    border: none;
   }
   
   .btn-1:before {
    height: 0%;
    width: 2px;
   }
   
   .btn-1:hover {
    box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
                 -4px -4px 6px 0 rgba(116, 125, 136, .5), 
       inset -4px -4px 6px 0 rgba(255,255,255,.2),
       inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
   }
   